body{
    width: 100%;
}

.container {
    overflow: hidden;
}

.box1, .box2 {
    display: justify;
    margin: 2%;
    background-color: lightblue;
    text-align: center;
    float: left;
}

.box {
    float: left;
    width: 45%;
    margin: 2%;
    background-color: lightcoral;
    text-align: center;
}